
.main-start {
	width: 100%;
  text-align: center;
}
.start-button {
	display: inline-block;
	width: 30vw;
	height: 20vh;
	line-height: 20vh;
	background-color: rgb(36, 36, 123);
	border-radius: 15px;
	color: white;
	font-family: 'Marmelad', sans-serif;
	font-size: 5vmin;
}
@media (max-width: 600px) {
	.main-start img {
		width: 100%;
	}
	.main-start h2 {
		font-size: 25px;
	}
	.start-button {
		width: 90%;
		font-size: 28px;
		height: 140px;
		line-height: 125px;
	}
}