@import "http://fonts.fontstorage.com/import/cleanvertising.css";
@import "http://fonts.fontstorage.com/import/marmelad.css";

* {
  box-sizing: border-box;
}
body, ul, a {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Cleanvertising', sans-serif;
  color: #1a1a1a;
  font-size: 3vmin;
  width: 100vw;
  background-color: rgb(247, 247, 247);
  box-sizing: border-box;
}
h1, h2, h3 {
  font-family: 'Marmelad', sans-serif;
}
a {
  text-decoration: none;
  color: #1a1a1a;
}
#root {
  width: 100vw;
}

